<body>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div>
  <img class="logo" src="assets/images/cglogo.jpg">
</div>

<div class="welcome">
  <h1>Welcome to your professional community</h1>
</div>

<div>
  <img class="worldlink" src="assets/images/worldlinked.jpg">
</div>



<div id="buttons">
  <form>
    <div class="button1">
      <a routerLink="/login"><button class="w3-button w3-black w3-round-large">Sign in</button></a>
    </div>

    <div class="button2">
      <a routerLink="/registration"><button class="w3-button w3-black w3-round-large">Register</button></a>
    </div>
  </form>
</div>

</body>